<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description><%= @description %></description>
  <displayName><%= @display_name %></displayName>
  <keepDependencies>false</keepDependencies>
<% if @parameters -%>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
<% @parameters.each do |parameter| -%>
<hudson.model.StringParameterDefinition>
  <name><%= parameter["name"] %></name>
  <description><%= parameter["description"] %></description>
  <defaultValue><%= parameter["default"] %></defaultValue>
</hudson.model.StringParameterDefinition>
<% end -%>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
<% else -%>
  <properties/>
<% end -%>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
<% if @auth_token -%>
  <authToken><%= @token %></authToken>
  <triggers/>
<% end -%>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command><%= @script_output %></command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
